header {
  .header-navbar {

    background-color: #e78b42;

    div.navbar-brand {

      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      font-size: .8rem;
      letter-spacing: 4px;

    }
    
    #main-navbar-nav {
      a {
        color: #0049bf;
      }
      i {
        color: white;
      }
      .registerLogin {
        display: flex;
      }
    }
  }
  .sub-nav-frame {
    background-color: #dfdfdf;
    .sub-nav {
      background-color: #dfdfdf;
      padding: 0 30px;
      i {
        color: #0049bf;
      }
      a {
        color: black;
      }
      .fa-bullhorn {
        color: red;
        font-size: 20px;
      }
    }
  }
}
