.header-navbar {
  background-color: orange;
  .navbar-brand {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }
  .search-box {
    background-color: white;
    padding: 5px 5px;
    border-radius: 10px;
    i {
      color: orange !important;
      font-weight: 700;
      background-color: white;
      font-size: 24px;
    }
    input {
      border: 0;
      outline: none;
    }
  }
  #main-navbar-nav {
    a {
      color: blue;
    }
    i {
      color: white;
    }
    .registerLogin {
      display: flex;
    }
  }
}
