.shipping-page {
  .shipping-form {
    width: fit-content;
    margin: 0 auto;
    .form-location-box {
      display: flex;
      flex-direction: column;
      border: 1px solid #dfdfdf;
      padding: 10px;
    }
  }
}
